{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
	<link rel="stylesheet"  type="text/css" href="{% static 'ecom/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ecom/css/main.css' %}">
    <title>{% block title %}Ecommerce System{% endblock %}</title>
</head>
   <body>
      {% include 'ecom/navigation.html' %}
      <!--start of jumbotron -->
      <div class="jumbotron jumbotron-fluid bg-secondary mt-5">
          <div class="container text-center text-white" style="font-family: 'Trebuchet MS';">
              <h1 class="text-uppercase">favorite store</h1>
                <h2>Welcome to Our Ecommerce Smart Store</h2>
                    <h3>Checkout Our Awesome Products</h3>
                        <p><i>Explore our collections</i></p>
                   <a href="#" type="submit" class="btn btn-info">Create Account</a>
                  <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          </div>
      </div>
      <!----End of jumbotron-->
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <!--Start of inner navbar-->
                  <nav class="navbar navbar-expand-md bg-dark text-white">
                      <a class="navbar-brand">Categories: </a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                              data-target="#insideNav">
                          <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse justify-content" id="insideNav">
                          <ul class="navbar-nav text-white">
                              <li class="navbar-item"><a class="nav-link active" href="#">Shirts</a></li>
                              <li><a class="nav-link" href="#">Trousers</a></li>
                              <li><a class="nav-link" href="#">Spotwears</a></li>
                          </ul>
                      </div>
                      <form class="form-inline">
                          <input class="form-control mr-sm-2" type="search"
                                 placeholder="search" aria-label="Search">
                          <button class="btn btn-sm btn-primary my-2 my-sm-0"
                                  type="submit">filter-By</button>
                      </form>
                  </nav><!--End of inner navbar-->
              </div>
          </div>
      </div>
      <div class="container mt-3 pt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
      </div>
      {% block content %}
          <!----There goes the contents of individual pages-->
      {% endblock %}

      <footer class="footer bg-secondary" style="color: #cbd5db; margin-top: 200px; padding: 30px">
        <div class="container">
            <!--icons to be added later for more UX/UI-->
             <p class="text-center">&copy; copyright 2020; All rights reserved..Powered by HorlaCode Team<br>
             We are at your service <i>07037347461</i><br>
             Email us: olasunkanmiadu33@gmail.com</p>
        </div>
      </footer>
      <script src="{% static 'ecom/js/jquery.min.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'ecom/js/fontawesome-all.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.min.js' %}"></script>
   </body>
</html>

