{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
	<link rel="stylesheet"  type="text/css" href="{% static 'ecom/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ecom/css/main.css' %}">
    <title>{% block title %}Product {{ item.title }}{% endblock %}</title>
</head>
   <body>
      {%  include 'ecom/navigation.html' %}
      <!---Alert for dismissible messages-->
      <div class="container mt-4 pt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
      </div>
      {% block content %}
          <!----There goes the contents of individual pages-->
      {% endblock %}

      <footer class="footer bg-secondary" style="color: #cbd5db; margin-top: 200px; padding: 30px">
        <div class="container">
            <!--icons to be added later for more UX/UI-->
             <p class="text-center">&copy; copyright 2020; All rights reserved..Powered by HorlaCode Team<br>
             We are at your service <i>07037347461</i><br>
             Email us: olasunkanmiadu33@gmail.com</p>
        </div>
      </footer>
      <script src="{% static 'ecom/js/jquery.min.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.bundle.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'ecom/js/fontawesome-all.js' %}"></script>
      <script src="{% static 'ecom/js/bootstrap.min.js' %}"></script>
   </body>
</html>

