{% extends 'ecom/base_detail.html' %}
{% load humanize %}
<title>{% block title %}Cart-Summary{% endblock %}</title>

{% block content %}
    <div class="container">
        <h1 class="text-black text-center pt-3 mt-3"><b>Cart-Index</b></h1>
        <div class="js_form_body">
            <table class="table" id="js_book_table">
                <thead>
                  <tr>
                    <th>S/N</th>
                    <th>Item Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Item Price</th>
                  </tr>
                </thead>
                <tbody>
                      {% for order_item in Order_Summary.items.all %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ order_item.item.title }}</td>
                          <td>{% if order_item.item.discount_price %}
                              &#8358;{{ order_item.item.discount_price }}
                              {% else %}
                              &#8358;{{ order_item.item.price }}
                              {% endif %}
                          </td>
                          <td>
                            <a href="{% url 'remove-single-from-cart' order_item.item.pk %}">
                                <i class="fas fa-minus mr-2"></i></a>
                            {{ order_item.quantity }}
                            <a href="{% url 'add-to-cart' order_item.item.pk %}">
                                <i class="fas fa-plus ml-2"></i></a>
                          </td>
                          <!---The Total Price Data function called from the DB-->
                            <td>
                                {% if order_item.item.discount_price %}
                                    &#8358;{{ order_item.get_total_discount_item_price|intcomma }}
                                    <span class="badge badge-primary">Saving ${{ order_item.get_amount_saved }}</span>
                                {% else %}
                                    &#8358;{{ order_item.get_total_item_price|intcomma }}
                                {% endif %}
                                <a style='color: red;' href="{{ order_item.item.get_remove_from_cart_url }}">
                                    <i class="fas fa-trash float-right"></i>
                                </a>
                            </td>
                        </tr>
                      {% empty %}
                        <tr>
                          <td colspan="7" class="text-center bg-warning">Empty Cart</td>
                        </tr>
                        <tr>
                          <td colspan="5"><a class='btn btn-primary float-right' href='/'>Continue shopping</a></td>
                        </tr>
                      {% endfor %}
                      {% if Order_Summary.get_total %}
                        <tr>
                            <td colspan="4"><b>Order Total</b></td>
                            <td><b>&#8358;{{ Order_Summary.get_total }}</b></td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            <a class='btn btn-warning float-right ml-2' href='#'>Proceed to checkout</a>
                            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                            </td>
                        </tr>
                      {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}