{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
	<link rel="stylesheet"  type="text/css" href="{% static 'ecom/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ecom/css/main.css' %}">
{#    <style>#}
{#        body{#}
{#            background-image: url("{% static 'ecom/img/back.jpg' %}");#}
{#            height: 100%;#}
{#            background-position: center;#}
{#            background-repeat: no-repeat;#}
{#            background-size: cover;#}
{#        }#}
{#    </style>#}
</head>