{% extends 'ecom/base.html' %}
{% load humanize %}

{% block content %}
   <!---Display Contents from the database-->
    <div class="container">
        <div class="row">
            {% for item in items %}
                <div class="col-sm-3">
                    <div class="card shadow-lg mb-2" style="width: 17.5rem;">
                        {% if item.image is not None %}
                            <img src="{{ item.image.url }}"
                                 style="height: 300px;" class="card-img-top" alt="Item-image">
                        {% endif %}
                        <div class="card-body text-center">
                            <div class="card-title"><b>
                                <a href="{% url 'item-detail' item.pk %}">{{ item.title }}</a></b></div>
                            {% if item.discount_price %}
                                <h3><del>&#8358;{{ item.price }}</del>  &#8358;{{ item.discount_price }}</h3>
                            {% else %}
                                <h3>&#8358;{{ item.price|intcomma }}</h3>
                            {% endif %}
                            <span class="badge badge-{{ item.get_label_display }} p-1">New item</span>
                            <a class="btn btn-info btn-sm" type="submit"
                              href="{{ item.get_add_to_cart_url }}">
                               <i class="fas fa-shopping-cart fa-1x"></i> Add-to-Cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!----Pagination to manage products --pages-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mt-1" style="margin-left: 30rem;">
                    {% if items.has_other_pages %}
                        {% if items.has_previous %}
                            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ items.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% for num in items.paginator.page_range %}
                            {% if items.number == num %}
                              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
                              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ items.next_page_number }}">Next</a>
                            <a class="btn btn-outline-info mb-4" href="?page={{ items.paginator.num_pages }}">Last</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}