{% extends 'ecom/base_detail.html' %}
<title>{% block title %}Product {{ item.title }}{% endblock %}</title>
{% load humanize %}
{%  block content %}
        <!--A detail for page for each products separately-->
        <div class="container mt-5 pt-5">
           <div class="row">
               <div class="col-sm-4">
                    <div class="card shadow-lg mb-2" style="width: 17.5rem;">
                        {% if item.image is not None %}
                            <img src="{{ item.image.url }}"
                                 style="height: 300px;" class="card-img-top" alt="Item-image">
                        {% endif %}
                        <div class="card-body text-center">
                            <div class="card-title"><b>
                                <a href="{% url 'item-detail' item.pk %}">{{ item.title }}</a></b></div>
                            <span class="badge badge-{{ item.get_label_display }} p-2">{{ item.get_category_display }}</span>
                        </div>
                    </div>
               </div>
               <div class="col-sm-6">
                   <div class="item-section">
                       <h3 class="#">{{ item.title }}</h3>
                       {% if item.discount_price %}
                           <h3><del>&#8358;{{ item.price }}</del> &#8358;{{ item.discount_price }}</h3>
                       {% else %}
                           <h3>&#8358;{{ item.price|intcomma }}</h3>
                       {% endif %}
                       <div class="card">
                           <div class="card-header"><b>Product Description</b></div>
                           <div class="card-body">
                               {{ item.description }}
                           </div>
                       </div>
                       <div class="cart-button mt-3">
                           <a class="btn btn-info btn-sm" type="submit"
                              href="{% url 'add-to-cart' item.pk %}">
                               <i class="fas fa-shopping-cart"></i> Add-to-Cart</a>
                           <a class="btn btn-danger btn-sm" type="submit"
                              href="{% url 'remove-from-cart' item.pk %}">
                               <i class="fas fa-trash"></i> Remove-from-Cart</a>
                       </div>

                   </div>
               </div>
           </div>
        </div>

{% endblock %}

