{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=0">
	<link rel="stylesheet"  type="text/css" href="{% static 'ecom/css/bootstrap.min.css' %}">
    <title>{% block title %}Ecommerce Login{% endblock %}</title>
    <style>
{#        body{#}
{#            background-image: url("{% static 'ecom/img/back.jpg' %}");#}
{#            height: 100%;#}
{#            background-position: center;#}
{#            background-repeat: no-repeat;#}
{#            background-size: cover;#}
{#        }#}
        body{
            background-color: darkslategrey;
        }
    </style>
</head>
   <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3 pt-5 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                  <div class="text-center">
                                      <h3>Account Login</h3><hr>
                                  </div>
                                    {% for field in form %}
                                      <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                        {{ field|add_class:'form-control' }}
                                        {% for error in field.errors %}
                                          <span class="help-block" style="color: darkred">{{ error }}</span>
                                        {% endfor %}
                                      </div>
                                    {% endfor %}
                                    <div class="form-group text-center">
                                      <button type="submit" class="btn btn-primary">
                                          sign-in with credentials</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'ecom/js/jquery.min.js' %}"></script>
        <script src="{% static 'ecom/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'ecom/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'ecom/js/bootstrap.min.js' %}"></script>
   </body>
</html>


