      <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top pt-3">
          <div class="container">
              <a class="navbar-brand" href="{% url 'index' %}"><b>FavStoreCollection</b></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navTarg">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-center" id="navTarg">
                  <ul class="navbar-nav text-white-50">
                      <li class="nav-item"><a class="nav-link active" href="{% url 'index' %}">
                          <b>All Products</b></a></li>
                      <li><a class="nav-link" href="#"><b>About us</b></a></li>
                      <li><a class="nav-link" href="#"><b>Contact us</b></a></li>
                      <li><a class="nav-link" href="{% url 'cart-summary' %}">
                          <b>Cart-Summary</b><i class="fas fa-shopping-cart fa-1x" style="color: darkslategray;"></i>
                          <span class="badge badge-dark">{{ Order_Summary.items.all.count }}</span></a></li>

                      <!---a shopping cart symbol in here-->
                      <li><a class="nav-link" href="#"><b>check-out</b></a></li>
                  </ul>
              </div>
          </div>
      </nav>