/*body{*/
    /*background-image: url("back.jpg");*/
    /*height: 100%;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

body{
    background-color: lavender;
}